{{ if .Params.wavedrom }}
<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/wavedrom/2.6.8/skins/default.js" 
  type="text/javascript">
</script>
<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/wavedrom/2.6.8/wavedrom.min.js" 
  type="text/javascript">
</script>

<body 
  onload="WaveDrom.ProcessAll()">
</body>

<script>
  console.log("debug") // enzo debug 20210606
  var ids = document.getElementsByClassName("language-mermaid")
  // var ids = document.getElementsByClassName("wavedrom");
  console.log(ids)
  console.log("end-debug")
  // Replace mermaid pre.code to div
  Array.from(document.getElementsByClassName("language-wavedrom")).forEach(
    (el) => {
      console.log("asdas")
      el.parentElement.outerHTML = `<script type="wavedrom">${el.innerText}</script>`;
      
    }
  );
</script>

<!-- el.parentElement.outerHTML = `<script type="WaveDrom">${el.innerText}</script>`; -->

<!-- <style>
  /* Set svg to center */
  .mermaid svg {
    display: block;
    margin: auto;
  }
</style> -->
{{ end }}


